
:root {
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    color: var(--color-slate-900);
}

html {
    font-family: system-ui
}

body {
    background-color: var(--color-slate-300);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}


.qr-card {
    background-color: var(--color-white);
    border-radius: 1rem;
    text-align: center;
    max-width: 320px;
    padding: 1rem;
}

.qr-card img {
    border-radius: inherit;
    display: inline-block;
    width: 100%;
}



